<div class="row" style="height:500px">
  <!-- Left Column -->
  <div class="col-md-4">
    <app-carlist-panel [cars]="cars" [carTypes]="carTypes" [selectedCarId]="selectedCarId" (addUpdate)="onAddUpdate($event)"
      (delete)="onDelete($event)" (getServiceList)="onGetServiceList($event)"></app-carlist-panel>
  </div>
  <!-- Right Column -->
  <div class="col-md-8">
    <app-servicelist-table [cars]="cars" [selectedCarId]="selectedCarId" [serviceTypes]="serviceTypes" [serviceRecords]="serviceRecords"
      [selectedCarTypeId]="selectedCarTypeId" [mapCarTypeServiceType]="mapCarTypeServiceType" (addUpdateService)="onAddUpdateService($event)"
      (deleteService)="onDeleteService($event)"></app-servicelist-table>
  </div>

</div>