<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" id="add-list" #listForm="ngForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="list-make">Items</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" class="text-center">
              <label for="list-make">Checked</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" class="text-center">
              <label for="list-make">Not Check</label>
            </div>
          </div>
        </div>

        <!--repeat start-->
        <div class="row" *ngFor="let serviceType of serviceTypes; let i = index; trackBy: trackCarList">
          <div class="col-md-4">
            <div class="form-group">
              <label for="list-make">{{serviceType.serviceTypeName}}</label>
            </div>
          </div>


          <ng-template [ngIf]="serviceTypesAvail.indexOf(serviceType.serviceTypeId)!=-1">
            <div class="col-md-4">
              <div class="form-group" class="text-center">
                <label for="list-make-{{serviceType.serviceTypeName}}">
                  <input id="list-make-{{serviceType.serviceTypeName}}" [value]='1' type="radio" name="serviceItem-{{serviceType.serviceTypeName}}"
                    [(ngModel)]="serviceTypesChecked[i]" (change)="onSelectionChange(i,1, serviceType)">
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" class="text-center">
                <label for="list-make-{{serviceType.serviceTypeName}}">
                  <input id="list-make-{{serviceType.serviceTypeName}}" [value]='0' type="radio" name="serviceItem-{{serviceType.serviceTypeName}}"
                    [(ngModel)]="serviceTypesChecked[i]" (change)="onSelectionChange(i,0, serviceType)">
                </label>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]=" serviceTypesAvail.indexOf(serviceType.serviceTypeId)==-1 ">
            <div class="col-md-4 ">
              <div class="form-group " class="text-center ">
                <i class="fa fa-ban " style="font-size:20px;color:red; "></i>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="form-group " class="text-center ">
                <i class="fa fa-ban " style="font-size:20px;color:red; "></i>
              </div>
            </div>
          </ng-template>
        </div>


        <div class="row ">
          <div class="col-md-4 ">
            <div class="form-group ">
              <label for="list-date ">Date</label>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="form-group " class="text-center ">
              <input type="text " placeholder="My Date " [ngModel]="service.serviceDate | date
                    " [ngModelOptions]="{standalone: true}" (change)="dateChange($event)">
            </div>
          </div>
        </div>


      </form>
    </div>
    <div class="modal-footer ">
      <!-- Create list on click, but disable if form is invalid -->
      <button type="submit " class="btn btn-success " (click)="activeModal.close( 'Submit click') " [disabled]="!canSubmit">{{submitButton}}
      </button>
      <button type="button " class="btn btn-danger " (click)="activeModal.dismiss( 'Cancel click') ">Cancel
      </button>
    </div>
  </div>
</div>